[Unit]
Description=Slotletter Systemd Service
After=network.target remote-fs.target nss-lookup.target

[Service]
Environment=PYTHONPATH=/usr/share/openattic/
Type=simple
Restart=always
ExecStart=/usr/bin/python2.7 /usr/share/openattic/alerts/slotletter.py &> /dev/null &
ExecReload=/usr/bin/sh /usr/share/openattic/alerts/alertser.sh slotrestart
ExecStop=/usr/bin/sh /usr/share/openattic/alerts/alertser.sh slotstop

[Install]
WantedBy=multi-user.target
