<div class="openattic-modal-header">
  <span>未保存的更改</span>
</div>
<div class="openattic-modal-content"
     id="modal-body">
  <p>当前页面有未保存的更改，如果您选择离开，所有未保存的更改将会丢失。</p>
  <span>是否离开当前页面？</span>
</div>
<div class="openattic-modal-footer">
  <div class="button-group text-right">
    <button class="btn btn-primary btn-sm oa-check-form-ok tc_leaveButton"
            ng-click="$ctrl.ok()">离开当前页面</button>
    <button class="btn btn-link btn-sm oa-check-form-cancel tc_cancelButton"
            ng-click="$ctrl.cancel()">取消</button>
  </div>
</div>
